.svg-width {
    width: 290px;
}

.svg-height {
    height: 290px;
}


@media only screen and (max-width: 600px) {
    .svg-width {
        width: 148px;
    }

    .svg-height {
        height: 148px;
    }
}

hr {
    width: 10%;
    border: 1px solid #393e46;
}