@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap);/* google fonts */

/* helpers/align.css */

label {
  margin: 0 !important;
}

.navbar-brand {
  color: #f8a3bd;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  margin-top: 28px;
}

.navbar-brand:hover {
  color: #d44179;
}

.align {
  display: flex;
  place-items: center;
  height: calc(100vh - 129px);
}

/* helpers/grid.css */

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}

/* helpers/hidden.css */

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* helpers/icon.css */

.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: #606468;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

/* layout/base.css */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #2c3338;
  color: #606468;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

a {
  color: #eee;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type=submit] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type=password],
.form input[type=text],
.form input[type=submit] {
  width: 100%;
}

.form__field {
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form__input {
  flex: 1;
}

/* modules/login.css */

.login {
  color: #eee;
}

.login label,
.login input[type=text],
.login input[type=password],
.login input[type=submit] {
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
}

.login label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.login input[type=password],
.login input[type=text] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.login input[type=password]:focus,
.login input[type=password]:hover,
.login input[type=text]:focus,
.login input[type=text]:hover {
  background-color: #434a52;
}

.login input[type=submit] {
  background-color: #ea4c88;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.login input[type=submit]:focus,
.login input[type=submit]:hover {
  background-color: #d44179;
}

/* modules/text.css */

p {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  margin-top: 24px;
  margin-top: 1.5rem;
}

.text--center {
  text-align: center;
}

