
    /*basic reset*/
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: url("http://atelie.local/img/custom_bg.png");
    }


    /*headings*/
    .fe-title-main {
        font-family: "Nunito", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #21bf73;
        margin-top: 10px;
    }

    .fe-title {
        font-family: "Nunito", sans-serif;
        font-size: 26px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #21bf73;
        margin-top: 10px;
    }

    .fe-title-tabs {
        font-family: "Nunito", sans-serif;
        font-size: 26px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #21bf73;
        margin-top: 16px;
    }

    .fe-subtitle-main {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: normal;
        color: #232323;
        text-align: left;
        margin-top: 33px;
    }

    .fe-subtitle {
        font-family: "Nunito", sans-serif;
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.06;
        letter-spacing: normal;
        color: #232323;
        text-align: left;
        margin-top: 9px;
    }

    .fe-mission {
        font-family: "Nunito", sans-serif;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.15;
        letter-spacing: normal;
        color: #65655a;
        text-align: left;
        padding-bottom: 15px;
    }

    .fe-setttings {
        font-family: "Nunito", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: #232323;
        text-align: left;
        height: 34px;
    }

    hr {
        margin-top: 18px;
        border-radius: 2px;
        box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
    }

    input,
    select,
    textarea {
        color: #40ae00;
    }

    /*Images*/
    .rocket-img {
        margin-top: 25px;
    }

    /*form styles*/
    #msform {
        position: relative;
        margin-top: 30px;
    }

    #msform fieldset {
        background: #fff;
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;

        /*stacking fieldsets above each other*/
        position: relative;
    }

    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }

    /*inputs*/
    #msform input,
    #msform textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: "Nunito", sans-serif;
        color: #232323;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        height: 55px;
    }

    #msform input:focus,
    #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #70BD44;
        outline-width: 0;
        transition: All 0.5s ease-in;
        -webkit-transition: All 0.5s ease-in;
        -moz-transition: All 0.5s ease-in;
        -o-transition: All 0.5s ease-in;
    }

    /*buttons*/
    #msform .action-button {
        background: #21bf73;
        color: #fff;
        cursor: pointer;
        padding: 7px 7px 10px 7px;
        margin: 20px 0px 16px 0px;
        float: right;
        font-size: 12px;
        width: 147px;
        height: 34px;
        border-radius: 2px;
        border: solid 1px #21bf73;

    }

    .begin-verificaiton {
        width: 147px;
        background: #21bf73;
        color: #fff;
        border: 0 none;
        border-radius: 2px;
        cursor: pointer;
        padding: 15px 10px;
        margin: 10px 5px 10px 0px;
        float: right;
        font-size: 12px;
        text-align: center;

    }

    #msform .action-button:hover,
    #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #70BD44;
    }

    #msform .action-button-previous {
        background: #fff;
        color: #232323;
        cursor: pointer;
        padding: 10px 7px 10px 7px;
        margin: 20px 40px 16px 0px;
        float: left;
        font-size: 12px;
        width: 147px;
        height: 34px;
        border-radius: 2px;
        border: solid 1px #21bf73;
    }

    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #70BD44;
    }

    /*progressbar*/
    #progressbar {
        display: flex;
        margin-bottom: 30px;
        text-align: center;
        overflow: hidden;
        width: 80%;
        margin: 2% auto;
        /*CSS counters to number the steps*/
        counter-reset: step;
        background: #fff;
        padding: 12px;
    }

    #progressbar li {
        list-style-type: none;
        color: #000;
        font-size: 16px;
        width: 20%;
        position: relative;
    }

    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        font-size: 12px;
        color: #333;
        background: #fff;
        border-radius: 25px;
        margin: 0 auto 10px auto;
        border: solid 1px #cdcccb;
    }

    /*progressbar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #cdcccb;
        position: absolute;
        left: -50%;
        top: 15px;
        z-index: -1;
        /*put it behind the numbers*/
    }

    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }

    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #21bf73;
        color: #fff;
    }

    .form-group {
        position: relative;
        margin-bottom: 1.5rem;
    }

    .form-control-placeholder {
        position: absolute;
        top: 0;
        padding: 2px;
        color: #40ae00;
        font-family: "Nunito", sans-serif;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.3;
        letter-spacing: normal;
        margin-left: 6px;
    }

    .form-control:focus+.form-control-placeholder,
    .form-control:valid+.form-control-placeholder {
        font-size: 75%;
        transform: translate3d(0, -100%, 0);
        opacity: 1;
    }


    /* Tabs */
    .nav-tabs>li.active>a {
        font-family: "Nunito", sans-serif;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #40ae00;
        border: solid 1px #65655a;
        border-bottom: none;
        cursor: pointer;
    }

    .nav-tabs>li>a {
        font-family: "Nunito", sans-serif;
        margin-right: 20px;
        border: 1px solid transparent;
        border-radius: 2px;
        color: #65655a;
        background-color: #e1e1e1;
        border-bottom: 1px solid #65655a;
        width: 190px;
        height: 43px;
        font-size: 12px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
    }

    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #65655a;
        border-bottom-color: transparent;
    }

    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: #fff;
        color: #40ae00;
    }

    .nav-tabs {
        border-bottom: 1px solid #65655a;
    }

    #multistep {
        min-height: 100vh;
    }

    .carousel-control-prev-icon {
        background-image: url("https://www.flaticon.com/svg/static/icons/svg/271/271218.svg") !important;
    }

    .carousel-control-next-icon {
        background-image: url("https://www.flaticon.com/svg/static/icons/svg/271/271226.svg") !important;
    }

    .svg-width {
        width: 290px;
    }

    .svg-height {
        height: 290px;
    }


    @media only screen and (max-width: 600px) {
        .svg-width {
            width: 148px;
        }

        .svg-height {
            height: 148px;
        }
    }
