@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap);.align {
  display: flex;
  place-items: center;
  height: calc(100vh);
}

/* helpers/grid.css */

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  max-width: 20rem;
  width: 90%;
}

/* helpers/icon.css */

.icons {
  display: none;
}

.icon {
  background: #363b41;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 8px;
  padding-left: 8px;
  width: 56px;
}

/* layout/base.css */

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100%;
}

body {
  background-color: #2c3338;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
}

/* modules/anchor.css */

a {
  color: #606468;
  outline: 0;
  text-decoration: none;
}

a:focus,
a:hover {
  text-decoration: underline;
}

/* modules/form.css */

input {
  background-image: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  transition: background-color 0.3s;
}

input[type=submit] {
  cursor: pointer;
}

.form {
  margin: -14px;
  margin: -0.875rem;
}

.form input[type=password],
.form input[type=text],
.form input[type=submit] {
  width: 100%;
}

.form__field {
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.form__input {
  flex: 1;
}

/* modules/login.css */

.form label,
.form input {
  border-radius: 0.25rem;
  padding: 16px;
  padding: 1rem;
  height: 53px !important;
}

.form label {
  background-color: #363b41;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.form input {
  background-color: #fff;
  color: #2c3338;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form input[type=submit] {
  background-color: #ea4c88;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.form input[type=submit]:focus,
.form input[type=submit]:hover {
  background-color: #d44179;
}

.text--center {
  text-align: center;
}

